<!DOCTYPE html>
<html>
  <head>
    <title>My Wallet Connection Page</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Connect Your Wallet Here!</h1>
        <button id="connectButton" class="btn btn-primary" onclick="">
          Connect Wallet
        </button>
        <button
          id="balanceButton"
          class="btn btn-success"
          onclick="checkWalletBalance()"
        >
          Get Wallet Balance
        </button>

        <p id="walletAddressText"></p>
        <p id="walletBalanceText"></p>

        <script type="text/javascript">
          window.currentUserWallet = null;
          const connectButton = document.getElementById("connectButton");
          const walletAddressText =
            document.getElementById("walletAddressText");
          const walletBalanceText =
            document.getElementById("walletBalanceText");

          function checkExtensionInstalled() {
            if (typeof window.ethereum == "undefined") {
              connectButton.innerText =
                "Wallet extension is not installed. Please install it.";
              connectButton.classList.remove();
              connectButton.classList.add();
              return false;
            }
            connectButton.addEventListener("click", connectWithWalletExtension);
          }

          async function connectWithWalletExtension() {
            const accounts = await window.ethereum
              .request({ method: "eth_requestAccounts" })
              .catch((error) => {
                console.error(error.message);
                return;
              });

            if (!accounts) {
              return;
            }

            window.currentUserWallet = accounts[0];
            walletAddressText.innerText = window.currentUserWallet;

            connectButton.innerText = "Sign Out";
            connectButton.removeEventListener(
              "click",
              connectWithWalletExtension
            );
            setTimeout(() => {
              connectButton.addEventListener("click", signOutOfWalletExtension);
            }, 200);
          }

          function signOutOfWalletExtension() {
            window.currentUserWallet = null;
            walletAddressText.innerText = "";
            connectButton.innerText = "Connect Wallet";

            connectButton.removeEventListener(
              "click",
              signOutOfWalletExtension
            );
            setTimeout(() => {
              connectButton.addEventListener(
                "click",
                connectWithWalletExtension
              );
            }, 200);
          }

          async function checkWalletBalance() {
            let balance = await window.ethereum
              .request({
                method: "eth_getBalance",
                params: [window.currentUserWallet, "latest"],
              })
              .catch((error) => {
                console.log(error);
              });

            console.log(parseFloat(balance / Math.pow(10, 18)));

            walletBalanceText.innerText = parseFloat(
              balance / Math.pow(10, 18)
            );
          }

          window.addEventListener("DOMContentLoaded", () => {
            checkExtensionInstalled();
          });
        </script>
      </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
